---
- name: Setup rootless user environment
  hosts:
    - quadlet
  become: true
  roles:
    - role: rootless_user
#   tasks:
#     - name: Map rootless_user variables to foremanctl namespace
#       ansible.builtin.set_fact:
#         foremanctl_quadlet_dir: "{{ rootless_user_quadlet_dir }}"

- name: Pull images
  hosts:
    - quadlet
  vars_files:
    - "../../vars/defaults.yml"
    - "../../vars/flavors/{{ flavor }}.yml"
    - "../../vars/images.yml"
    - "../../vars/base.yaml"
  become: true
  tasks:
    - name: Install podman
      ansible.builtin.package:
        name:
          - podman

    - name: Pull an image
      become: true
      become_user: "{{ foremanctl_user }}"
      containers.podman.podman_image:
        name: "{{ item }}"
      loop: "{{ images }}"

    - name: Pull foreman_proxy images
      become: true
      become_user: "{{ foremanctl_user }}"
      containers.podman.podman_image:
        name: "{{ item }}"
      loop: "{{ foreman_proxy_images }}"
      when:
        - "'foreman-proxy' in enabled_features"

    - name: Pull database images
      become: true
      become_user: "{{ foremanctl_user }}"
      containers.podman.podman_image:
        name: "{{ item }}"
      loop: "{{ database_images }}"
      when:
        - database_mode == 'internal'
