---
- name: Check if vulnerability services exist
  environment:
    XDG_RUNTIME_DIR: "{{ foremanctl_xdg_runtime_dir }}"
  become: true
  become_user: "{{ foremanctl_user }}"
  ansible.builtin.systemd:
    name: "{{ item }}"
  register: iop_vulnerability_services_status
  failed_when: false
  loop:
    - iop-service-vuln-dbupgrade
    - iop-service-vuln-manager
    - iop-service-vuln-taskomatic
    - iop-service-vuln-grouper
    - iop-service-vuln-listener
    - iop-service-vuln-evaluator-recalc
    - iop-service-vuln-evaluator-upload
    - iop-service-vuln-vmaas-sync
  listen: restart vulnerability

- name: Restart vulnerability services
  environment:
    XDG_RUNTIME_DIR: "{{ foremanctl_xdg_runtime_dir }}"
  become: true
  become_user: "{{ foremanctl_user }}"
  ansible.builtin.systemd:
    name: "{{ item.item }}"
    state: restarted
    scope: user
  when: item.status is defined and item.status.LoadState != "not-found"
  loop: "{{ iop_vulnerability_services_status.results }}"
  listen: restart vulnerability
