---
- name: Configure Foreman systemd target as foreman user
  environment:
    XDG_RUNTIME_DIR: "{{ foreman_xdg_runtime_dir }}"
  become: true
  become_user: "{{ foreman_service_user }}"
  block:
    - name: Define foreman.target
      ansible.builtin.copy:
        dest: "{{ foreman_systemd_user_dir }}/foreman.target"
        owner: "{{ foreman_service_user }}"
        group: "{{ foreman_service_group }}"
        mode: '0644'
        content: |
          [Unit]
          Description=Foreman services
          [Install]
          WantedBy=default.target

    - name: Run daemon reload to load new target
      ansible.builtin.systemd:
        daemon_reload: true
        scope: user

    - name: Start foreman.target
      ansible.builtin.systemd_service:
        name: foreman.target
        state: started
        enabled: true
        scope: user
