---
- name: Create directory for Redis data
  ansible.builtin.file:
    path: "{{ redis_data_dir }}"
    state: directory
    owner: "{{ foremanctl_user }}"
    group: "{{ foremanctl_group }}"
    mode: '0755'

- name: Set Redis directory ownership for container UID/GID
  ansible.builtin.shell: |
    cd /tmp
    sudo -u {{ foremanctl_user }} podman unshare chown -R {{ redis_container_uid }}:{{ redis_container_gid }} {{ redis_data_dir }}
  args:
    executable: /bin/bash
  changed_when: true

- name: Pull Redis container image
  become: true
  become_user: "{{ foremanctl_user }}"
  containers.podman.podman_image:
    name: "{{ redis_container_image }}:{{ redis_container_tag }}"
    state: present

- name: Deploy Redis quadlet
  containers.podman.podman_container:
    name: redis
    image: "{{ redis_container_image }}:{{ redis_container_tag }}"
    state: quadlet
    quadlet_dir: "{{ foremanctl_quadlet_dir }}"
    sdnotify: true
    command: ["run-redis", "--supervised", "systemd"]
    volumes:
      - "{{ redis_data_dir }}:/data:Z"
    ports:
      - "6379:6379"
    quadlet_options:
      - |
        [Install]
        WantedBy=default.target foreman.target
        [Unit]
        PartOf=foreman.target

- name: Activate Redis service
  become: true
  become_user: "{{ foremanctl_user }}"
  block:
    - name: Run daemon reload
      ansible.builtin.systemd:
        daemon_reload: true
        scope: user

    - name: Start the Redis Service
      ansible.builtin.systemd:
        name: redis
        state: started
        scope: user
