---
- name: Restart pulp-api
  become: true
  become_user: "{{ foremanctl_user }}"
  ansible.builtin.systemd:
    name: pulp-api
    state: restarted
    scope: user

- name: Restart pulp-content
  become: true
  become_user: "{{ foremanctl_user }}"
  ansible.builtin.systemd:
    name: pulp-content
    state: restarted
    scope: user

- name: Restart pulp-worker
  become: true
  become_user: "{{ foremanctl_user }}"
  ansible.builtin.systemd:
    name: pulp-worker.target
    state: restarted
    scope: user
