---
- name: Check if ingress service exists
  environment:
    XDG_RUNTIME_DIR: "{{ foremanctl_xdg_runtime_dir }}"
  become: true
  become_user: "{{ foremanctl_user }}"
  ansible.builtin.systemd:
    name: iop-core-ingress
  register: iop_ingress_service_status
  failed_when: false
  listen: restart ingress

- name: Restart ingress service if it exists
  environment:
    XDG_RUNTIME_DIR: "{{ foremanctl_xdg_runtime_dir }}"
  become: true
  become_user: "{{ foremanctl_user }}"
  ansible.builtin.systemd:
    name: iop-core-ingress
    state: restarted
    scope: user
  when: iop_ingress_service_status.status is defined and iop_ingress_service_status.status.LoadState != "not-found"
  listen: restart ingress
