---
- name: Check if advisor backend api service exists
  environment:
    XDG_RUNTIME_DIR: "{{ foremanctl_xdg_runtime_dir }}"
  become: true
  become_user: "{{ foremanctl_user }}"
  ansible.builtin.systemd:
    name: iop-service-advisor-backend-api
  register: iop_advisor_api_service_status
  failed_when: false
  listen: restart advisor

- name: Restart advisor backend api service if it exists
  environment:
    XDG_RUNTIME_DIR: "{{ foremanctl_xdg_runtime_dir }}"
  become: true
  become_user: "{{ foremanctl_user }}"
  ansible.builtin.systemd:
    name: iop-service-advisor-backend-api
    state: restarted
    scope: user
  when: iop_advisor_api_service_status.status is defined and iop_advisor_api_service_status.status.LoadState != "not-found"
  listen: restart advisor

- name: Check if advisor backend service exists
  environment:
    XDG_RUNTIME_DIR: "{{ foremanctl_xdg_runtime_dir }}"
  become: true
  become_user: "{{ foremanctl_user }}"
  ansible.builtin.systemd:
    name: iop-service-advisor-backend-service
  register: iop_advisor_service_status
  failed_when: false
  listen: restart advisor

- name: Restart advisor backend service if it exists
  environment:
    XDG_RUNTIME_DIR: "{{ foremanctl_xdg_runtime_dir }}"
  become: true
  become_user: "{{ foremanctl_user }}"
  ansible.builtin.systemd:
    name: iop-service-advisor-backend-service
    state: restarted
    scope: user
  when: iop_advisor_service_status.status is defined and iop_advisor_service_status.status.LoadState != "not-found"
  listen: restart advisor
