---
- name: Deploy debug_tools
  ansible.builtin.include_role:
    name: debug_tools

- name: Install podman and network stack
  ansible.builtin.package:
    name:
      - podman
      - netavark
      - aardvark-dns
      - passt

- name: Install other dependencies
  ansible.builtin.package:
    name:
      - bash-completion
      - python3-cryptography
      - python3-libsemanage
      - python3-psycopg2
      - python3-requests
