---
- name: Restart foreman
  become: true
  become_user: "{{ foremanctl_user }}"
  ansible.builtin.systemd:
    name: foreman
    state: restarted
    scope: user

- name: Restart dynflow-sidekiq@
  become: true
  become_user: "{{ foremanctl_user }}"
  loop:
    - orchestrator
    - worker
    - worker-hosts-queue
  ansible.builtin.systemd:
    name: "dynflow-sidekiq@{{ item }}"
    state: restarted
    scope: user
