server {
    listen 8443 ssl;

{% for algorithm in certificates_algorithm_sets %}
{% set _type = algorithm | lower | regex_replace('^ml-dsa', 'mldsa') %}
    ssl_certificate /etc/nginx/certs/nginx-{{ _type }}.crt;
    ssl_certificate_key /etc/nginx/certs/nginx-{{ _type }}.key;
{% else %}
    ssl_certificate /etc/nginx/certs/nginx.crt;
    ssl_certificate_key /etc/nginx/certs/nginx.key;
{% endfor %}
    ssl_client_certificate /etc/nginx/certs/ca.crt;
    ssl_verify_client on;
    ssl_verify_depth 2;

    set $identity_type "";

    proxy_set_header x-rh-identity $identity;
    include /etc/nginx/common.d/*.conf;
}
