---
- name: Restart Foreman Proxy
  environment:
    XDG_RUNTIME_DIR: "{{ foreman_xdg_runtime_dir }}"
  become: true
  become_user: "{{ foreman_service_user }}"
  ansible.builtin.systemd:
    name: foreman-proxy
    state: restarted
    scope: user
